
    {{#each products}}
        <div class="card" data-id="{{id}}">
            <a href="#" class="card__link">COMPRAR</a>
            <article class="card__article">
                <div class="card__image-container">
                    <img src="/tmp/uploads/{{img}}" alt="" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">{{name}}</h2>
                    <div class="card__description">
                        <span class="card__price">${{price}}</span>
                        <p class="card__description-paragraph" data-action="open-description" >Ver más...</p>
                        <button class="card__btn-close" data-action="close-description" title="cerrar">x</button>
                        <p class="card__description-paragraph">{{long-description}}</p>
                    </div>
                </div>
            </article>
        </div>
    {{/each}}
